.headerr{
    height: 100vh;
}

.status-message{
    font-size: 13px;
}

.headerr > h2{
    text-align: center;
    color: white;
}

/* .headerr{
    background: rgb(255, 97, 194);
} */

p{
    text-align: center;
}