/* Services page specific styles */
.services-page {
    padding: 50px 0;
  }
  
  .services-page h2 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    margin-bottom: 20px;
    font-family: 'Georgia', serif; /* Example serif font */
  }
  
  .services-page p {
    margin-bottom: 30px;
    font-size: 1.2rem;
  }
  
  .card {
    overflow: hidden;
    border: none;

  }
  
  .card-img-top {
    height: 250px; /* Adjust based on your images */

 
  }

  .card-body{
    background-color: rgb(153, 27, 119);
  }
  
  .card-title {
    font-size: 15px;
    font-family: 'Courier New', Courier, monospace;

    text-align: center;
    font-weight: 800;
  }
  
  .card-text {
    font-size: 10px;
    text-align: start;
    font-family: 'Georgia', serif; /* Example serif font */
    color: #ffffff; /* Adjust color based on theme */
  }
  